/* RESET */

a,a:hover{
    color: white;
}


/* CONTAINER PRINCIPALE */

.container-fluid{
    background-image: url(https://www.w3schools.com/w3images/forestbridge.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
}
.row{
    animation: B_G_W 0.8s; /* do un nome all'animazione e indico quando deve durare*/
    height:100vh;
}
@keyframes B_G_W{             /*Indico cosa deve fare l'animazione*/
    
    /*l'immagine di background è sul padre quindi il figlio "row" coprendo tutta la dimensione del padre
    appena li do il "background-color:White" la pagina si vedra tutta bianca alla partenza*/
    from{background-color: white;    
    }
    to{/*qui li dichiaro come si deve concludere l'animazione ovvero con il "background-color: none;"
        l'animazione di default avverrà in modo fluido e rientrera nella tempistica indicate prima"0.8s" */
        background-color: none;
    }}
/* ----TOP-BAR---- */

.col-1{
padding: 20px;
font-size: 30px;
}


/* ---HEADER---- */

.col h1{
    margin-bottom:10px;
    padding-bottom: 10px;
    font-size: 60px;
    animation-name: title;
    animation-duration: 2s;
}
@keyframes title{
    from{position: relative;
        bottom: 50vh;
    }
    to{bottom: -50vh;}
}
.col h5{
    border-top: 1px solid white;
    padding-top:20px;
    font-size: 18px;
    width:200px;
    text-align: center;
}


/* ----FOOTER---- */

.col-2{
    padding: 20px;
}